.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2.chat-main__group-info__left-box__current-group 
        
      %ul.chat-main__group-info__left-box__member-list 

        %li.chat-main__group-info__left-box__member-list__member 
    = link_to "#" do
      .chat-main__group-info__edit-btn Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'